@import url('../../index.css');
.project-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  transition: transform 0.8s;
  border-radius: 10px;
  margin: 0 auto; 
}

.project-card-inner {
  background-color: #282c34;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
}
.project-card.mobile .back {
  display: none;
}

.project-card.mobile .project-card-inner:hover {
  transform: none;
}

.project-card:hover .project-card-inner {
  transform: rotateY(180deg);
}

.face,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.face {
  color: white;
}

.back {
  color: white;
  transform: rotateY(180deg);
}

.links-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
ul {
  margin-left: -35px;
  list-style-position: inside;
}
li {
  padding-bottom: 5px;
}
.link-button {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--primary-color);
  color: #000;
  border: none;
  transition: transform 0.8s;
}

.link-button:hover {
  text-decoration: none;
  transform: scale(1.2);
}
.mobile-link-button {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  transition: transform 0.8s;
}

.mobile-link-button:hover {
  text-decoration: none;
  transform: scale(1.2);
}

.project-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.highlight {
  color:var(--primary-color);
}
.project-icon {
  justify-content: center;
  align-items: center;
  font-size: 40px;
  height: 100%;
  width: auto;
  aspect-ratio: 1/1;
}

.description-container {
  padding: 5px 20px;
}
.concise-container {
  padding: 0px 20px;
  margin-top: -15px;

}
.concise-container p {
  color: var(--primary-color);
}

.tags {
  margin-top: 10px;
  padding: 10px;
}

.tag {
  display: inline-block;
  background-color: var(--primary-color);
  color: #000;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 5px;
  margin-top: 5px;
}