@import url('../../index.css');
.projects {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}


.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  overflow-y: scroll;
  overflow-wrap: normal;
}
.highlight {
color: var(--primary-color);
  
}
@media screen and (max-width: 992px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 640px) {
  .projects-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

}