@import url('../../src/index.css');
* {
margin: 0;
padding: 0;
}

body {
  background-color: #1c1e21;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.final-results {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  color: #ffffff;
  font-size: 2rem;
}

.results-numbers {
  color: #61dafb;
}

footer {
  margin: 10px;
  padding-bottom: 20px;
  font-size: 1.2em;
  font-weight: bold;
  color: #61dafb;
  text-align: center;
}

table {
  width: 60%;
  margin: 20px auto;
  margin-top:30px;
  padding: 20px;
  border-collapse: collapse;
    font-family: "Trebuchet MS", sans-serif;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.win {
  background-color: #d1e7dd;
}

th {
  background-color: #868c8e;
  color: #10142c;
}

.lose {
  background-color: #e7d1d1;
}

.win-lose {
  width: 16px;
  height: 16px;
}

.button-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom:10px;
}

.btn {
  margin: 10px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #61dafb;
  color: black;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}

.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #61dafb;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.btn::before {
  content: "";
  background: linear-gradient(45deg,
      #1e3a8a,
      #3b82f6,
      #61dafb,
      #6a5acd,
      #5b21b6);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity 0.3s ease-in-out, color 0.9s;
  border-radius: 10px;
  opacity: 0;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.btn:hover::before {
  opacity: 1;
}

.home-icon {
  flex: 0 0 auto;
  padding-top: 30px;
  
}

.header-text {
  margin-top: 30px;
  font-size: 2em;
  font-weight: bold;
  color: #61dafb;
  font-family: "Trebuchet MS", sans-serif;
  text-align: center;
  flex-grow: 1;
}
.disclaimer {
  margin-top: 15px;
  padding-bottom: 2px;
  font-size: 1em;
  font-weight: bold;
  color: #61dafb;;
  text-align: center;
  display: none;
  margin-right: 5px;
}
.table-header {
  color: white;
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-size: 32px;
  margin-top: 40px;
}
.results-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.organized-container {
  border: 1px solid #61dafb;
  border-radius: 10px;
  padding: 10px;
  margin-top: 40px;
  width: 60%;
}
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.video-container iframe {
  width: 100%;
  max-width: 800px;
  height: auto;
  aspect-ratio: 16 / 9;
}


header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 626px;
  margin: 0 auto;
}
@media (max-width: 767px) {
.disclaimer{
  display: block;
}
  .want {
    display: none;
  }
    .home-icon {
      
      padding-left: 30px;
  
    }
}
.video-container {
  padding-top: 140px;
}

@media (min-width: 1025px) {
header{
  max-width: 800px;
}
.header-text {
  margin-right: 55px;
  
}
.video-container{
    margin-top: -65px;
}
  
}