@import url('../../index.css');

@keyframes slide-in-left {
  0% {
    transform: translateX(-1%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(0eg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content:space-around;
  padding: 20px;
  border-radius: 10px;
  font-size: 40px;
}

.header-content {
  text-align: left;
  font-size: 20px;
  animation: slide-in-left 1.5s ease forwards;
}
span.gentle-hover-shake {
  display: inline-block;
}
span.gentle-hover-shake:hover {
  animation: tilt-shaking 0.25s infinite;
}
.highlight {
  color: var(--primary-color);
}

.profile-pic {
  height: 100%;
  width: 300px;
  border-radius: 3%;
}

.blockM {
  height:50px;
  width: auto;
  margin-right: 15px;
    margin-bottom: 20px;
}

.amzn {
  height: 65px;
  width: auto;
  margin-bottom: 25px;
}
.bar {
  font-size: 60px;
  font-weight: 100;
}

.blockM,
.amzn {
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  .header {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
    .header-content {
      text-align: center;
    }
  .profile-pic{
    margin-top: 20px;
  }

}