@import url('../../index.css');
.footer {
  margin: 15px 10px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #282c34;
  border-radius: 10px;
  color: var(--primary-color);
  position: relative;
}
